body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lpa {
  min-height: 100vh;
  line-height: 3;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.lpa--text {
  display: block;
}

.lpa--anim {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-top-color: rgba(0, 172, 223, 0.5);
  border-left-color: rgba(85, 208, 255, 0.5);
  border-bottom-color: rgba(124, 232, 255, 0.5);
  border-right-color: rgba(204, 249, 255, 0.9);
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(2turn);
  }
}
